@font-face {
    font-family: Boogaloo;
    src: url(../fonts/Boogaloo-Regular.otf);
}
html,body{
    min-height: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    color:  #30267c;
    background: -webkit-linear-gradient(90deg, #5a2b95 0%, #1b236e 100%);
    background: -moz-linear-gradient(90deg, #5a2b95 0%, #1b236e 100%);
    background: -o-linear-gradient(90deg, #5a2b95 0%, #1b236e 100%);
    background: -ms-linear-gradient(90deg, #5a2b95 0%, #1b236e 100%);
    background: linear-gradient(0deg, #5a2b95 0%, #1b236e 100%);
    background-repeat: no-repeat;
}
.logo{
    margin-top: 24px;
    margin-bottom: 24px;
}
.logo img{
    height: 92px;
}
.content{
    box-shadow: 0px 13px 24.03px 2.97px rgba(0, 0, 0, 0.36);
    padding: 10px;
    max-width: 469px;
}
.stylish{
    font-family: Boogaloo;
    font-size: 43.01px;/* Approximation due to font substitution */
    font-weight: 400;
    text-align: center;
}
h2.standard{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.infotext{
    font-family: OpenSans;
    color:  #30267c;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.infotext-error{
    font-family: OpenSans;
    color:  #30267c;
    font-size: 18.5px;
    font-weight: 500;
    text-align: left;
}
.btn-disney{
    color: #fff;
    border-radius: 10px;
    background-color:  #333399;
    border-color: #333399;
    max-width: 391px;
    width: 90%;
    height: 45px;
}
.disney-input{
    width: 90%;
    max-width: 391px;
}
.form-control:focus {
    border-color: #333399;
    box-shadow: 0 0 0 0.2rem rgba(51,51,153,.25);
}
.btn.focus, .btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(51,51,153,.25);
}
.custom-select:focus{
    border-color: #333399;
    box-shadow: 0 0 0 0.2rem rgba(51,51,153,.25);
}
.email-form{
    text-align: left;
}
label{
    width: 90%;
    max-width: 391px;
    display: block;
    margin: auto;
}
label.left{
    text-align: left;
}
.input-group-text{
    background-color: transparent;
}
input#password:focus, input#password2:focus{
    border: 1px solid #ced4da;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-disney-full{
    width: 100%;
    border-radius: 20px;
}