@font-face {
    font-family: Boogaloo;
    src: url(../fonts/Boogaloo-Regular.otf);
}
@media (max-width: 991.98px) {
    .container{
        max-width: 95%;
    }
}
body{
    background: -webkit-linear-gradient(90deg, #5a2b95 0%, #1b236e 100%);
    background: -moz-linear-gradient(90deg, #5a2b95 0%, #1b236e 100%);
    background: -o-linear-gradient(90deg, #5a2b95 0%, #1b236e 100%);
    background: -ms-linear-gradient(90deg, #5a2b95 0%, #1b236e 100%);
    background: linear-gradient(0deg, #5a2b95 0%, #1b236e 100%);
    color: #FFF;
}
html {
    position: relative;
    min-height: 100%;
}
.header{
    text-align: center;
    margin-top: 28px;
    background: url('../images/stars.png') no-repeat;
    background-position: 50% 0;
    image-rendering: -webkit-optimize-contrast;
}
.content-card{
    margin-top: 23px;
    margin-bottom: 23px;
    border-radius: 30px;
    background-color:  #ffffff;
    box-shadow: 0px 13px 24.03px 2.97px rgba(0, 0, 0, 0.36);
    min-height: 851px;
    padding-top: 42px;
    text-align: center;
}

.content-header{
    font-family: Boogaloo;
    color:  #1d236f;
    font-size: 60.82px;/* Approximation due to font substitution */
    line-height: 1.2em;
    font-weight: 600;
}
.content-badges{
    margin-top: 54px;
}
.content-preview{
    margin-top: 46px;
}
.img-fluid{
    max-width: 95%;
}

.header img {
      width: 15vw;
}
