html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #fff!important;
    color: #000;
    margin-bottom: 80px; /* Margin bottom by footer height */
}
.container{
    width: 100%;
    max-width: 100%;
    padding: 0;
}
.logo{
    height: 75px;
    width: auto;
}
.navbar{
    padding-left: 0;
    padding-right: 0;
}
.navbar-toggler{
    margin-right: 12px;
}
#navbarNav{
    background: -webkit-linear-gradient(90deg, #5a2b95 0%, #1b236e 100%);
    background: -moz-linear-gradient(90deg, #5a2b95 0%, #1b236e 100%);
    background: -o-linear-gradient(90deg, #5a2b95 0%, #1b236e 100%);
    background: -ms-linear-gradient(90deg, #5a2b95 0%, #1b236e 100%);
    background: linear-gradient(0deg, #5a2b95 0%, #1b236e 100%);
    color: #FFF;
}
#navbarNav > ul > li.nav-item > a{
    padding: 12px 24px;
    color: #fff;
}
#navbarNav > ul > li.nav-item > a.active{
    color: #979797;
    font-style: italic; 
}
.divider{
    height:1px;
    margin: 0;
    padding: 0;
    border: 0;
    width:100%;
    background: #fff;
}
.divider.dark{
    background: #565656;
}
button:focus{
    outline-color: #1b236e;
}
.heading{
    background: -webkit-linear-gradient(90deg, #5a2b95 0%, #1b236e 100%);
    background: -moz-linear-gradient(90deg, #5a2b95 0%, #1b236e 100%);
    background: -o-linear-gradient(90deg, #5a2b95 0%, #1b236e 100%);
    background: -ms-linear-gradient(90deg, #5a2b95 0%, #1b236e 100%);
    background: linear-gradient(0deg, #5a2b95 0%, #1b236e 100%);
    height: 54px;
    width: 100%;
    font-size: 23px;
    text-align: center;
    color: white;
    line-height: 54px;
}
.content{
    margin: 1rem;
    padding-bottom: 1rem;
}
.header-main{
    font-size: 24px;
    color: #1b236e;
    text-align: left;
    font-weight: bold;
    margin-top: 24px;
}
.header-text{
    font-size: 17px;
    color: #1b236e;
    text-align: left;
    font-weight: bold;
    margin-top: 24px;
}
.text{
    color: #333;
    font-size: 17px;
    font-weight: 400;
}
.text em{
    font-style: normal;
    font-weight: 600;
}
ul li em{
    font-style: normal;
    font-weight: 600;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px; /* Set the fixed height of the footer here */
    line-height: 80px; /* Vertically center the text there */
    border-top: 1px solid #565656;
    padding: 0;
}
.footer-img{
    height: 60px;
    margin: 10px;
}
